<header>
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="/">Fuse Afrika<span>
    </br>Breaking out of existing musical categories
    </span></a>
    <img src="" alt="logo-name">
  </nav>
</header>
