<div class="container-fluid">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/artists">Artists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/gallery">Gallery </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/workshops">Workshops</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/performances">Performances</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/docuvideo">Docu Videos</a>
    </li>
  </ul>
</div>
