<main>
  <div class="about">
    <div class="container">
      <div class="row">
        <div class="col artists">
          <h3><a href="/artists">Artists</a></h3>
        </div>
        <div class="col gallery">
          <h3><a href="/gallery">Gallery</a></h3>
        </div>
        <div class="col cities">
          <h3><a href="/">Cities</a></h3>
        </div>
      </div>
    </div>
    <div class="about-info">
      <div class="container">
        <div class="row">
          <div class="col">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </br>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col workshops">
          <h3><a href="/workshops">Workshops</a></h3>
        </div>
        <div class="col performances">
          <h3><a href="/performances">Live Acts</a></h3>
        </div>
        <div class="col docuvideo">
          <h3><a href="/docuvideo">Videos</a></h3>
        </div>
      </div>
    </div>
  </div>
</main>
