<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1>Artists</h1>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col">
      <h2><a href="#"></a>Tito</h2>
    </div>
    <div class="col">
      <h2><a href="#"></a>Moonchild</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h2><a href="#"></a>Simz</h2>
    </div>
    <div class="col">
      <h2><a href="#"></a>Hokororo</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h2><a href="#"></a>Essu</h2>
    </div>
    <div class="col">
      <h2><a href="#"></a>Emma</h2>
    </div>
  </div>
</div>

</main>
