<main>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Artists</h1>
        </div>
      </div>
    </div>
    <div class="artists">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2><a href="/tito">Tito</a></h2>
          </div>
          <div class="col">
            <h2><a href="/artistsinfo/moonchild">Moonchild</a></h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <h2><a href="/artistsinfo/simz">Simz</a></h2>
          </div>
          <div class="col">
            <h2><a href="/artistsinfo/sam">Hokororo</a></h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <h2><a href="/artistsinfo/essu">Essu</a></h2>
          </div>
          <div class="col">
            <h2><a href="/artistsinfo/emma">Emma</a></h2>
          </div>
        </div>
      </div>
    </div>
</main>
