<main>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Artists</h1>
        </div>
      </div>
    </div>
    <div class="artists">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2><a href="/tito">Tito</a></h2>
          </div>
          <div class="col">
            <a href="/moonchild">
            <h2><a href="/moonchild">Moonchild</a></h2>
            </a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <h2><a href="/simz">Simz</a></h2>
          </div>
          <div class="col">
            <h2><a href="/sam">Hokororo</a></h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <h2><a href="/essu">Essu</a></h2>
          </div>
          <div class="col">
            <h2><a href="/emma">Emma</a></h2>
          </div>
        </div>
      </div>
    </div>
</main>
